body{
    background-image: url("images/bg.png");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; margin: 0
}

.content{
    font-family:'Arial';
    text-align: center;
    max-width: 100%;
    padding: 20px;
    color: #fff;
}

.title{
    font-family:'Arial';
    font-size: 300%;
    color: black;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
}

.container{
    position: relative;
    width: 100%;
    height: 550px;
}
.container img{
    width: 100%;
    height: 550px;
    background-position: center;
    opacity: 0.3;
    
}

.heading{
    position:absolute;
    top: 49%;
    left: 47%;
}

.imagepos{
    position: absolute;
    right: 60%;
    top: 40%;
    box-shadow: 0px 0px 10px #fff;
}

.imagepos:hover{
    transform: scale(1.1);
}

.image2pos{
    position: absolute;
    left: 70%;
    top: 40%;
    box-shadow: 0px 0px 10px #fff;   
}

.image2pos:hover{
    transform: scale(1.1);
}

.sidebarcontainer { 
    height: 100vh;
    display: flex; 
    flex-direction: column;
}

.sidebar { 
    list-style-type: none; 
    padding: 0; 
    background-color: rgb(68, 72, 77);
    width: 160px;
    height: 100vh;
    font-size: 1.10em;
    font-family:'Arial';
} 

.sidebar li {
    padding: 10px;
} 

.sidebar li a {
    text-decoration: none;
    color: white;
} 

.sidebar li.active a { 
    font-weight: bold; 
    color: red;
}

.flex-container { 
    display: flex; 
    flex-grow: 1;
    height: calc(100vh - 60px);
    
}

.main-content { 
    flex-grow: 1; 
    padding: 20px;
}

.bodytext {
    font-size: 1.25rem;
    color: black;
}

.code-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.code-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.owasp{
    position: absolute;
    left: 34%;
    top: 40%;
    
}
